{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<br>
{% for product in products %}
<center>
<div class="card mb-3" style="max-width: 800px;"> 
    <div class="row g-0">
      <div class="col-md-4">
        <center>
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="">
        </center>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }} </h5>
          <p class="card-text">{{ product.description }} </p>
            <strike>${{ product.price }} </strike>  ${{ product.sale_price }}
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">{% trans "Go to product"  %}</a></div>
        </div>
      </div>
    </div>
</div>

{% endfor %}
</center>

{% endblock content %}
